:root {
  --foreground-rgb: 0, 0, 0;
  --font-garamond: var(--font-garamond);
  --font-merriweather: var(--font-merriweather);
}

.background-main {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../public/biblioteca.jpg");
  background-repeat: false;
  background-size: cover;
  filter: blur(4px);
  z-index: -1;
  animation: backgroundBlur 6s ease-in-out infinite;
}

*,
body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: var(--font-garamond);
}

*,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
div,
section,
ul,
li,
article {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@keyframes backgroundBlur {
  0% {
    filter: blur(1px);
  }

  50% {
    filter: blur(4px);
  }

  100% {
    filter: blur(1px);
  }
}