$golden-ochre: #D4A757;
$golden-ochre-hover: #D4A757dd;
$deep-bronze: #8B5E3C;
$antique-white: #F3E9D2;
$olive-green: #A3A569;
$soft-stone-gray: #B5B5B5;
$charcoal-black: #3D3D3D;
$red-error: #d61212;

$borderRadius: 8px;

// Responsive

$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1200px;