@use '../app/ui/variables';

.preview {
  position: fixed;
  left: 25px;
  width: 32%;
  box-sizing: 5px 5px 5px #222;
  opacity: 0.8;
  // animation: fadeIn ease-in 1s forward;
  transition: all 0.2 ease-out;
  font-family: Arial, Helvetica, sans-serif;

  &:hover {
    opacity: 1;
  }

  @media (max-width: variables.$breakpoint-md) {
    display: none;
  }
}

.ficha-select {
  &-container {
    width: 30%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
  }

  &-label {
    font-size: 1rem;
    font-weight: 700;
    color: #FFF;
  }

  &-field {
    width: 40%;
    border-radius: 8px;
    padding: 10px;
    background-color: variables.$golden-ochre;
    border: none;
    color: #FFF;
  }
}